snippet () "paren_encloser" iA
($1)$0
endsnippet

snippet <> "paren_encloser" iA
<$1>$0
endsnippet

snippet [] "braket_encloser" iA
[$1]$0
endsnippet

snippet {} "brace_encloser" iA
{$1}$0
endsnippet

snippet '' "single_quote_encloser" i
'$1'$0
endsnippet

snippet "" "double_quote_encloser" i
"$1"$0
endsnippet
